@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar{
    background-color: whitesmoke;
}

.content-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #69a297;
    text-align: center;
}

.menu-item{
    margin-bottom: 5px;
}

.title{
    text-decoration: underline;
}

.content{
    margin-bottom: 40px;
}