.configgroup {
  display: flex;
  flex-wrap: wrap;
  &__block {
    color: black;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-family: "icomoon";
    font-size: 22px;
    margin-right: 10px;
    &:hover {
      color: whitesmoke;
      cursor: pointer;
      border-color: black;
    }
    &__text {
      position: absolute;
      left: -10000px;
    }
  }
  &__contacts {
    &:after {
      content: "\e958";
    }
  }
  &__logout {
    &:after {
      content: "\ea14";
    }
  }
  &__config {
    &:after {
      content: "\e995";
    }
  }
  &__todos {
    &:after {
      content: "\e9ba";
    }
  }
  &__appointments {
    &:after {
      content: "\e900";
    }
  }
}

@media screen and (min-width: 425px) {
  .configgroup {
    padding: 5px;
  }
}

@media screen and (min-width: 750px) {
  .configgroup {
    justify-content: flex-start;
    &__block {
      font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
      font-size: 18px;
      background-color: #4972c6;
      width: 135px;
      text-align: center;
      border: none;
      margin-right: 20px;
      &:after {
        content: none;
      }
      &__text {
        position: relative;
        left: 0;
      }
    }
  }
}
