{% extends "baseemail.html.twig" %}
    {% block pagetitle %}
        <h1>Hello {{ username }}</h1>
    {% endblock %}

    {% block pagecontents %}
        <p>Welcome to the To Do List application</p>
        <p>Your registration with email address {{ emailaddress }} has been confirmed.</p>
        <p>The application was build to organise personal life
            and in doing so hope to give you more free time to enjoy the little things in life</p>
        <p>With regards,</p>
        <p>The TDL app staff</p>
    {% endblock %}
