.todos{
&__todolist {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__item {
      overflow: hidden;
      border: 1px solid black;
      border-radius: 10px;
    }
  }
}

.checked{
    text-decoration: line-through;
}

.todo{
  height: 100%;
  width: 100%;
  &__buttongroup{
    &__select{
      color: black;

    }
  }
  &__front{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    &__label{
      &__checker{
        margin-left: 15px;

}
    }
    &__button{
      color: black;
    }
    &__title{
      border: none;
      outline: none;
      background: none;
      border: 1px solid black;
      border-radius: 10px;
      &:disabled{
        border: none;
      }
    }
  }
}
