@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/icons.scss";
@use "../modules/todo_modules/todo.scss";
@use "../modules/login_modules/index.scss";
@use "../modules/extra_modules/configgroup.scss";
@use "../modules/phonebook_modules/phonebook.scss";
@use "../modules/appointment_modules/appointments.scss";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  font-family: "Permanent Marker", Helvetica, sans-serif;
  background-color: #86b6ee;
  font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 auto 50px;
  padding: 15px;
  max-width: 1200px;
}

li {
  list-style-type: none;
}
h1 {
  color: #0E3865;
  font-size: 25px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #00638F;
}

h3{
  font-size: 16px;
  margin-bottom: 15px;
  color: #008FA0;
}

.hide {
  display: none;
}

.error-center{
  color: red;
  text-align: center;
}

.error{
  color: red;
}

.navcontainer{
  display: flex;
  justify-content: flex-end;
&__navigation {
  width: 200px;
  padding-right: 10px;
  &__textlabel {
    display: flex;
    justify-content: flex-end;
    gap: 38px;
    &__switch {
    }
  }
}
}

.header {
  display: flex;
  flex-direction: column;
  &__panel {
    display: flex;
    flex-direction: column;
    &__title {
      margin: 10px;
      font-size: 25px;
      font-weight: bolder;
      color: $cyan-800;
    }
  }
  &__todoform {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__label {
      text-align: center;      
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     gap: 15px;
      &__todoinput {
        height: 20px;
        width: 225px;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        border: none;
      }
    }
    &__addtodo {
      position: relative;
      aspect-ratio: 1/1;
      width: 40px;

      background-color: transparent;
      border-color: transparent;
      color: white;
      &:after {
        content: "\ea0a";
        font-family: "icomoon";
        font-size: 20px;
      }
      &:hover {
        color: black;
      }

      &__text {
        position: absolute;
        left: -10000px;
      }
    }
  }
}

.messagetoast{
  position: fixed;
  left: 0;
  bottom: 0;
  &__header{
      &__title{
      }
      &__button{
          position: absolute;
          top: 0;
          right: 0;
          margin: 7.5px;
          padding: 0 5px;
      }
  }
  &__delete{
      font-size: 15px;
      padding: 0 5px;
      margin: 2.5px;}
}

.purple{background-color: #B4869F;}

.green{background-color: #69A297;}

.orange{background-color: #EDC79B}

.blue{background-color: #50808E}
