.profile {
  font-family: arial;
  &__personalsheet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: lightgray;
    border-radius: 20px;
    padding: 20px;
    background-color: #75a0ad;
    &__imgholder {
      margin-right: 50px;
      max-width: 300px;
      border-radius: 20px;
      overflow: hidden;
      &__img {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }
    &__address {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      margin-top: 15px;

      &__buttongroup {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        &__button {
          margin-top: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
