.headerhome {
  display: flex;
  flex-direction: column;
  background-color: #008fa0;
  border-bottom: 5px solid #00b896;
  padding: 10px;
  &__mobile {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 20px;
    &:after {
      content: "\e9bd";
      font-family: "icomoon";
      color: white;
      transition: 0.5s;
    }
    &-active:after {
      transition: 0.5s;
      transform: rotate(90deg);
    }
  }
  &__title {
    padding: 5px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    &__listitem {
      margin: 10px 0;
      font-size: 22px;

      &__link {
        padding: 5px;
        color: #00638f;
        &:hover {
          color: gray;
        }
      }
    }
  }
}

.homefooter {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
  background-color: #8da6da;
  &__text {
    max-width: none;
    text-align: center;
    font-size: 12px;
    &__symbol {
      font-size: 10px;
    }
  }
}

.home {
  &__subtitle {
    margin-bottom: 15px;
  }
  &__textblock {
    &__paragraph {
      margin-bottom: 20px;
    }
  }
}

.login,
.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__block {
    display: flex;
    flex-direction: column;
    &__title {
      margin: 15px 0;
      text-align: center;
    }
    &__text {
      padding: 15px;
      margin: 30px;
      text-align: center;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &__policy {
      margin-top: 10px;
    }
    &__label {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 200px;
      &__textinput {
        margin-top: 10px;
        font-weight: bolder;
        font-size: 18px;
      }
      &__check {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        align-self: center;
      }
    }
    &__buttongroup {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      &__button {
        margin-top: 10px;
      }
    }
    &__policy {
      display: block;
      font-size: 20px;
    }
  }
}

.gallery {
  &__subtitle {
    margin-bottom: 15px;
  }
}

.gallery {
  &__photos {
    display: flex;
    flex-wrap: wrap;
  }
}

.galleryimgholder {
  margin: 10px;
  flex: 1 1 300px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__textblock {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    &__title {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 10px;
      color: white;
    }
  }
}

.splashscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
  &__title {
    text-align: center;
    width: 100%;
  }
  &__link {
    margin-top: 50px;
    &__button {
    }
  }
}

@media only screen and (min-width: 500px) {
  .headerhome__mobile {
    display: none;
  }
  #navbar {
    display: flex;
    flex-direction: row;
  }

  .headerhome {
    &__list {
      &__listitem {
        margin-right: 25px;
      }
    }
  }
}
